
# Entornos Virtuales

.venv/
venv/
env/


# Archivos de Entorno y Secretos

.env


# Datos del Proyecto (RAG)
data/

# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de IDEs y Sistemas Operativos
.vscode/
.idea/
.DS_Store
Thumbs.db